<table>
{{#caption}}<caption>{{caption}}</caption>
{{/caption}}
{{#thead}}
<thead>
{{#rows}}
<tr{{attributes}}>{{#cells}}<th{{attributes}}>{{value}}</th>{{/cells}}</tr>
{{/rows}}
</thead>
{{/thead}}
{{#tbody}}
<tbody>
{{#rows}}
<tr{{attributes}}>{{#cells}}<td{{attributes}}>{{value}}</td>{{/cells}}</tr>
{{/rows}}
</tbody>
{{/tbody}}
</table>
